<?php
$title = "Authors' list";
$this->layout('layout::default', ['title' => $title])
?>

<h1><?=$this->e($title) ?></h1>
<p>
    <a href="author/add">Add new author</a>
</p>
<?php if(!isset($authors->_embedded->authors)):?>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
  </button>
  An error occurred while getting Authors.
</div>
<?php else: ?>
<table class="table">
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Date of birth</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach($authors->_embedded->authors as $author):?>
    <tr>
        <td><?=$this->e($author->entity_id);?></td>
        <td><?=$this->e($author->first_name);?></td>
        <td><?=$this->e($author->last_name);?></td>
        <td><?=$this->e($author->dob);?></td>
        <td>
            <a href="<?=$this->url();?>/edit/<?=$this->e($author->entity_id);?>">Edit
            </a>
            <a href="<?=$this->url();?>/delete/<?=$this->e($author->entity_id);?>">Delete
            </a>
        </td>
    </tr>
    <?php endforeach;?>
</table>
<?php endif;?>