<?php
$title = 'Edit Authors';
$this->layout('layout::default', ['title' => $title])
?>
<h1><?= $this->e($title) ?></h1>
<form method="POST" name="author" action="/author/edit/<?=$entity_id;?>" id="author">
    <div class="form-group">
        <label for="first_name">First name</label>
        <input type="text" name="first_name" class="form-control" placeholder="First name" value="<?=$author->first_name;?>">
    </div>

    <div class="form-group">
        <label for="last_name">Last name</label>
        <input type="text" name="last_name" class="form-control" placeholder="Last name" value="<?=$author->last_name;?>">
    </div>

    <div class="form-group">
        <label for="dob">Date of birth</label>
        <input type="date" name="dob" class="form-control" value="<?=$author->dob;?>">
    </div>

    <input type="hidden" name="entity_id" value="<?=$entity_id;?>">
    <input type="submit" name="submit" id="submitbutton" class="btn btn-primary" value="Edit">
</form>