<?php
$title = 'Delete Author';
$this->layout('layout::default', ['title' => $title])
?>
<h1><?= $this->e($title) ?></h1>
<p>
    Are you sure you want to delete this author: <?php echo $author->first_name.' '. $author->last_name?>?
</p>

<form method="post">
    <div class="form-group">
        <input type="hidden" name="entity_id" value="<?php echo $entity_id;?>"/>
        <input type="submit" class="btn btn-danger" name="del" value="Yes"/>
        <input type="submit" class="btn btn-success" name="del" value="No"/>
    </div>
</form>