<?php
$title = 'Add Authors';
$this->layout('layout::default', ['title' => $title])
?>
<h1><?= $this->e($title) ?></h1>
<form method="POST" name="author" action="/author/add" id="author">
    <div class="form-group">
        <label for="first_name">First name</label>
        <input type="text" name="first_name" class="form-control" placeholder="First name" value="">
    </div>
    <div class="form-group">
        <label for="last_name">Last name</label>
        <input type="text" name="last_name" class="form-control" placeholder="Last name" value="">
    </div>
    <div class="form-group">
        <label for="dob">Date of birth</label>
        <input type="date" name="dob" class="form-control" value="">
    </div>

    <input type="hidden" name="entity_id" value="">
    <input type="submit" name="submit" id="submitbutton" class="btn btn-primary" value="Add">
</form>